// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "_proyecto.scss";

// Then add additional custom code here

.bg-super {
	background-image: radial-gradient(circle at 50% 120.71%, #ff8c65 0, #ff7d60 16.67%, #fe6a5b 33.33%, #f25353 50%, #e5394d 66.67%, #db1a4a 83.33%, #d2004a 100%);
}

.img-min {
	min-height: 200px;
}

.opa {
	opacity: 75%;
}

